body {
    margin: 0;
}
nav {
    width: 100vw;
    height: 50px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav img {
    width: 35px;
    height: 35px;
}
nav ul {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}
nav ul a {
    color: blue;
    text-decoration: none;
    font-size: 14pt;
}
#main {
    display: grid;
    grid-template-areas: 'header header'
                         'section section'
                         'section section' 
                         'footer footer';
    grid-auto-rows: 80px 200px 100px 80px;
}
header {
    grid-area: header;
    background-color: rgb(99, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}
header p{
    color: white;
}
header img {
    display: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
section {
    grid-area: section;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img {
    max-width: 1000px;
    max-height: 90%;
    
}
footer {
    grid-area: footer;
    background-color:yellow;
}

@media(min-width:768px){
    nav img {
        display: none;
    } 
    nav ul {
        display: flex;
    }
}

@media(min-width:1024px){
 #main {
        grid-template-areas: 'header header'
                             'section section'
                             'section section'
                             'section footer';
    }
}
@media(min-width: 1140px){
    #main {
        grid-template-areas: 'header header'
                             'section section'
                             'footer footer'
    }
}

@media(min-width: 425px){
    header p{
        display: none;
    }
    header img{
        display:flex;
    }
}